@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: -webkit-box;
    display: flex;
    opacity: 0;
  }
  100% {
    display: -webkit-box;
    display: flex;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    display: -webkit-box;
    display: flex;
    opacity: 1;
  }
  99% {
    display: -webkit-box;
    display: flex;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  99% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

header .bgHelper {
  padding: 2rem 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 30rem) {
  header .bgHelper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  header .bgHelper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 50rem) {
  header .bgHelper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  header .bgHelper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  header .bgHelper {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

header .logo {
  position: relative;
  z-index: 15;
}

header .logo.white svg g path {
  fill: white;
}

header .logo.white svg g g circle {
  fill: white;
}

header .logo.white svg g g path {
  fill: #252b46;
}

@media screen and (min-width: 70rem) {
  header svg {
    width: 12rem;
    height: 2rem;
  }
}

header #btnToggleMobileMenu {
  position: relative;
  width: 16px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  z-index: 15;
}

header #btnToggleMobileMenu:hover, header #btnToggleMobileMenu:focus {
  cursor: pointer;
}

@media screen and (min-width: 50rem) {
  header #btnToggleMobileMenu {
    display: none;
  }
}

header #topBarContainer {
  padding: 2rem 2rem;
  position: absolute;
  content: "";
  top: 5rem;
  left: 0;
  right: 0;
  z-index: 15;
}

@media screen and (min-width: 30rem) {
  header #topBarContainer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  header #topBarContainer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 50rem) {
  header #topBarContainer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  header #topBarContainer {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  header #topBarContainer {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

@media screen and (min-width: 50rem) {
  header #topBarContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0;
    top: 0;
    gap: 1rem;
  }
}

@media screen and (min-width: 70rem) {
  header #topBarContainer {
    gap: 3rem;
  }
}

@media screen and (min-width: 75rem) {
  header #topBarContainer {
    width: unset;
    margin: unset;
  }
}

@media screen and (min-width: 50rem) {
  header ul {
    gap: 1rem;
  }
}

@media screen and (min-width: 50rem) {
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 70rem) {
  header ul {
    gap: 3rem;
  }
}

header li {
  padding: 0.5rem 0;
  border-top: 1px solid #9194a1;
  text-align: center;
}

header li:last-of-type {
  border-bottom: 1px solid #9194a1;
}

@media screen and (min-width: 50rem) {
  header li {
    border: none;
  }
  header li:last-of-type {
    border-bottom: none;
  }
}

header a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding: 1rem;
  color: white;
  font-size: 1.3rem;
}

header a:hover, header a:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header a:active {
  color: #fa5757;
}

@media screen and (min-width: 50rem) {
  header a {
    padding: 0;
    color: black;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 60rem) {
  header a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 70rem) {
  header a {
    font-size: 1.2rem;
  }
}

header #btnLogIn {
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  -webkit-box-shadow: 0 0 8px 2px transparent;
          box-shadow: 0 0 8px 2px transparent;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-top: 2rem;
  padding: 0.8rem 0;
  width: 100%;
  border: 2px solid white;
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header #btnLogIn:hover, header #btnLogIn:focus {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 2px solid transparent;
  color: transparent;
}

header #btnLogIn:active {
  background-color: transparent;
  color: white;
}

header #btnLogIn:hover, header #btnLogIn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: transparent;
  color: white;
}

header #btnLogIn:active {
  color: #fa5757;
}

@media screen and (min-width: 50rem) {
  header #btnLogIn {
    padding: 1rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #fa5757;
    color: white;
    -webkit-box-shadow: 0 0 8px 2px #fa5757;
            box-shadow: 0 0 8px 2px #fa5757;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin-top: 0;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  header #btnLogIn:hover, header #btnLogIn:focus {
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 2px solid #fa5757;
    color: #fa5757;
  }
  header #btnLogIn:active {
    background-color: #fa5757;
    color: white;
  }
}

@media screen and (min-width: 60rem) {
  header #btnLogIn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 70rem) {
  header #btnLogIn {
    font-size: 1.2rem;
  }
}

#test {
  width: 20px;
  height: 20px;
  padding: 1rem;
  background-color: gray;
}

#title .bgHelper {
  padding: 2rem 2rem;
  padding-bottom: 8rem;
}

@media screen and (min-width: 30rem) {
  #title .bgHelper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #title .bgHelper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #title .bgHelper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  #title .bgHelper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  #title .bgHelper {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

@media screen and (min-width: 50rem) {
  #title .bgHelper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 2rem;
    padding-bottom: 4rem;
    gap: 3rem;
  }
  #title .bgHelper #btnGetForChrome,
  #title .bgHelper #btnGetForFirefox {
    width: unset;
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 60rem) {
  #title .bgHelper {
    margin-top: 3rem;
  }
}

#title .titleBox {
  margin-top: 2rem;
}

@media screen and (min-width: 50rem) {
  #title .titleBox {
    width: 85%;
    margin-top: 0;
    text-align: left;
  }
}

#title .image {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 36rem;
}

#title .image::before {
  position: absolute;
  content: "";
  width: 80rem;
  height: 75%;
  bottom: 1rem;
  left: 20%;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  background-color: #5368df;
  z-index: -1;
}

#title img {
  width: 100%;
}

#title .btnBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

#title #btnGetForChrome {
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #5368df;
  color: white;
  -webkit-box-shadow: 0 0 8px 2px #5368df;
          box-shadow: 0 0 8px 2px #5368df;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 100%;
}

#title #btnGetForChrome:hover, #title #btnGetForChrome:focus {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 2px solid #5368df;
  color: #5368df;
}

#title #btnGetForChrome:active {
  background-color: #5368df;
  color: white;
}

#title #btnGetForFirefox {
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: lightgrey;
  color: black;
  -webkit-box-shadow: 0 0 8px 2px lightgrey;
          box-shadow: 0 0 8px 2px lightgrey;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 100%;
}

#title #btnGetForFirefox:hover, #title #btnGetForFirefox:focus {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 2px solid lightgrey;
  color: lightgrey;
}

#title #btnGetForFirefox:active {
  background-color: lightgrey;
  color: black;
}

#features .bgHelper {
  padding: 2rem 2rem;
  padding-bottom: 8rem;
}

@media screen and (min-width: 30rem) {
  #features .bgHelper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #features .bgHelper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #features .bgHelper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  #features .bgHelper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  #features .bgHelper {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

@media screen and (min-width: 50rem) {
  #features .bgHelper {
    padding-bottom: 4rem;
  }
  #features .bgHelper .titleBox {
    width: 25rem;
    margin: 0 auto;
    border-left: 2rem;
    border-bottom: 2rem;
  }
}

@media screen and (min-width: 60rem) {
  #features .bgHelper {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 70rem) {
  #features .bgHelper {
    width: 70rem;
    margin: 0 auto;
  }
}

#features #tabMenu {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 50rem) {
  #features #tabMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 41.875rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

#features .tabMenuItem {
  position: relative;
  padding: 1rem;
  border: none;
  border-top: 1px solid lightgray;
  font-weight: 400;
  background-color: transparent;
}

#features .tabMenuItem:last-of-type {
  border-bottom: 1px solid lightgray;
}

@media screen and (min-width: 30rem) {
  #features .tabMenuItem {
    width: 26rem;
    margin: 0 auto;
    border-top: none;
    border-bottom: 1px solid lightgray;
  }
}

@media screen and (min-width: 50rem) {
  #features .tabMenuItem {
    width: 14rem;
    margin-top: 2rem;
    border-top: none;
    border-bottom: 1px solid lightgray;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 50rem) {
  #features .tabMenuItem {
    font-size: 1rem;
  }
}

@media screen and (min-width: 60rem) {
  #features .tabMenuItem {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 70rem) {
  #features .tabMenuItem {
    font-size: 1.2rem;
  }
}

#features .tabMenuItem.active::after {
  position: absolute;
  content: "";
  background-color: #fa5757;
  height: 0.2rem;
  left: 5rem;
  right: 5rem;
  bottom: 0;
}

@media screen and (min-width: 30rem) {
  #features .tabMenuItem.active::after {
    left: 9rem;
    right: 9rem;
  }
}

@media screen and (min-width: 50rem) {
  #features .tabMenuItem.active::after {
    left: 0;
    right: 0;
  }
}

#features .tabMenuItem:hover, #features .tabMenuItem:focus {
  cursor: pointer;
  font-weight: 500;
}

#features #tabContent {
  position: relative;
  max-width: 30rem;
  margin: 4rem auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 50rem) {
  #features #tabContent {
    max-width: unset;
    margin: 0 auto;
    height: 416px;
  }
}

#features .tab {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 50rem) {
  #features .tab {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#features .image {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 36rem;
}

#features .image::before {
  position: absolute;
  content: "";
  width: 80rem;
  height: 75%;
  bottom: -2rem;
  right: 20%;
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
  background-color: #5368df;
  z-index: -1;
}

#features img {
  width: 100%;
}

#features .textBlock {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 50rem) {
  #features .textBlock {
    width: 85%;
    margin-top: 0;
    padding-left: 5em;
    text-align: left;
  }
}

#features .textBlock p {
  margin-top: 2rem;
}

#features .btnMoreInfo {
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #5368df;
  color: white;
  -webkit-box-shadow: 0 0 8px 2px #5368df;
          box-shadow: 0 0 8px 2px #5368df;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: initial;
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#features .btnMoreInfo:hover, #features .btnMoreInfo:focus {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 2px solid #5368df;
  color: #5368df;
}

#features .btnMoreInfo:active {
  background-color: #5368df;
  color: white;
}

#download .bgHelper {
  padding: 2rem 2rem;
  padding-bottom: 8rem;
}

@media screen and (min-width: 30rem) {
  #download .bgHelper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #download .bgHelper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #download .bgHelper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  #download .bgHelper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  #download .bgHelper {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

@media screen and (min-width: 50rem) {
  #download .bgHelper {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 60rem) {
  #download .bgHelper {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 64rem) {
  #download .titleBox {
    width: 40rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 40rem) {
  #download .cardBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    gap: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  #download .cardBox {
    height: 30rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#download .card {
  position: relative;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  -webkit-box-shadow: 0 5px 15px -1px lightgray;
          box-shadow: 0 5px 15px -1px lightgray;
}

@media screen and (min-width: 40rem) {
  #download .card {
    width: 16rem;
    margin-top: 0;
  }
  #download .card:nth-child(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #download .card:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

#download .card::after {
  position: absolute;
  content: "";
  height: 4px;
  left: 0;
  right: 0;
  bottom: 7rem;
  background-image: url("../images/bg-dots.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#download .card h3 {
  margin-top: 2rem;
  font-size: 1.6rem;
}

#download .card p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

#download button {
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #5368df;
  color: white;
  -webkit-box-shadow: 0 0 8px 2px #5368df;
          box-shadow: 0 0 8px 2px #5368df;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-top: 4rem;
  width: 100%;
  font-size: 0.8rem;
}

#download button:hover, #download button:focus {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 2px solid #5368df;
  color: #5368df;
}

#download button:active {
  background-color: #5368df;
  color: white;
}

#faq .bgHelper {
  padding: 2rem 2rem;
  padding-bottom: 8rem;
  text-align: center;
}

@media screen and (min-width: 30rem) {
  #faq .bgHelper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #faq .bgHelper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #faq .bgHelper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  #faq .bgHelper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  #faq .bgHelper {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

@media screen and (min-width: 40rem) {
  #faq .bgHelper {
    width: 40rem;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 60rem) {
  #faq .bgHelper {
    width: 46rem;
    margin-top: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

#faq #faqBlock {
  margin-top: 3rem;
}

#faq .questionItem {
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 1px solid lightgray;
}

#faq .questionItem:first-of-type {
  border-top: 1px solid lightgray;
}

@media screen and (min-width: 60rem) {
  #faq .questionItem {
    padding: 1rem 0;
  }
}

#faq .questionItem p {
  display: none;
  max-height: 0px;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 0.8rem;
}

@media screen and (min-width: 60rem) {
  #faq .questionItem p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 70rem) {
  #faq .questionItem p {
    font-size: 1rem;
  }
}

#faq .questionItem:hover, #faq .questionItem:focus {
  cursor: pointer;
}

#faq .questionItem.open svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#faq .questionItem.open svg path {
  stroke: red;
}

#faq .questionItem .btnFaqItem {
  font-size: 0.9rem;
  font-weight: 400;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 60rem) {
  #faq .questionItem .btnFaqItem {
    font-size: 1rem;
  }
}

@media screen and (min-width: 70rem) {
  #faq .questionItem .btnFaqItem {
    font-size: 1.2rem;
  }
}

#faq .questionItem svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#faq .questionItem .questionHeadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#faq .btnMoreInfo {
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #5368df;
  color: white;
  -webkit-box-shadow: 0 0 8px 2px #5368df;
          box-shadow: 0 0 8px 2px #5368df;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-top: 3rem;
}

#faq .btnMoreInfo:hover, #faq .btnMoreInfo:focus {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 2px solid #5368df;
  color: #5368df;
}

#faq .btnMoreInfo:active {
  background-color: #5368df;
  color: white;
}

#join {
  background-color: #5368df;
}

#join .bgHelper {
  padding: 2rem 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
  text-align: center;
}

@media screen and (min-width: 30rem) {
  #join .bgHelper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  #join .bgHelper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 50rem) {
  #join .bgHelper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  #join .bgHelper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  #join .bgHelper {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

@media screen and (min-width: 40rem) {
  #join .bgHelper {
    width: 23rem;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 60rem) {
  #join .bgHelper {
    width: 29rem;
    margin-top: 3rem;
  }
}

#join p {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

#join form {
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

@media screen and (min-width: 40rem) {
  #join form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 1rem;
    height: 80px;
  }
}

#join #inputStatus {
  position: relative;
}

#join #inputStatus.error {
  height: 5rem;
  padding: 0.2rem;
  border-radius: 8px;
  background-color: #fa5757;
}

#join #inputStatus.error::before {
  position: absolute;
  content: "Whoops, make sure it's an email";
  padding-left: 1rem;
  left: 0;
  right: 0;
  bottom: 0.4rem;
  text-align: left;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 500;
}

#join #inputStatus.error::after {
  position: absolute;
  content: url("../images/icon-error.svg");
  top: 1rem;
  right: 1rem;
}

#join #inputFieldEmail {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 8px;
}

#join button {
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #fa5757;
  color: white;
  -webkit-box-shadow: 0 0 8px 2px #fa5757;
          box-shadow: 0 0 8px 2px #fa5757;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 100%;
  margin-top: 1rem;
}

#join button:hover, #join button:focus {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 2px solid #fa5757;
  color: #fa5757;
}

#join button:active {
  background-color: #fa5757;
  color: white;
}

@media screen and (min-width: 40rem) {
  #join button {
    margin-top: 0;
    height: 48px;
  }
}

footer {
  background-color: #252b46;
  text-align: center;
}

footer .bgHelper {
  padding: 2rem 2rem;
}

@media screen and (min-width: 30rem) {
  footer .bgHelper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  footer .bgHelper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 50rem) {
  footer .bgHelper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  footer .bgHelper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 80rem) {
  footer .bgHelper {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

@media screen and (min-width: 60rem) {
  footer .bgHelper {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo nav . . social";
    gap: 3rem;
  }
}

footer .logo {
  grid-area: logo;
}

footer .logo svg path {
  fill: white;
}

@media screen and (min-width: 60rem) {
  footer .logo {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

footer nav {
  grid-area: nav;
  padding: 1rem;
}

@media screen and (min-width: 60rem) {
  footer nav {
    padding: 0;
  }
}

@media screen and (min-width: 60rem) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
  }
}

footer li {
  padding: 1rem;
}

@media screen and (min-width: 60rem) {
  footer li {
    padding: 0;
  }
}

footer li a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
}

footer li a:hover, footer li a:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer li a:active {
  color: #fa5757;
}

@media screen and (min-width: 60rem) {
  footer li a {
    font-size: 0.9rem;
  }
}

footer .socialMedia {
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin: 0 auto;
}

@media screen and (min-width: 60rem) {
  footer .socialMedia {
    margin: 0;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

footer .socialMedia .logo {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .socialMedia .logo svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .socialMedia .logo:hover, footer .socialMedia .logo:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .socialMedia .logo:active svg path {
  fill: #fa5757;
}

footer .socialMedia.mobileMenu {
  position: fixed;
  bottom: 2rem;
  z-index: 15;
  left: 0;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
button,
::before {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 500;
}

@media screen and (min-width: 60rem) {
  h1 {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 70rem) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 60rem) {
  h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 70rem) {
  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 60rem) {
  h3 {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 70rem) {
  h3 {
    font-size: 2rem;
  }
}

p {
  color: #9194a1;
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.625rem;
}

@media screen and (min-width: 60rem) {
  p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 70rem) {
  p {
    font-size: 1.2rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  font-weight: 500;
}

@media screen and (min-width: 70rem) {
  button {
    font-size: 1.2rem;
  }
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.displayNone {
  display: none;
}

.overflowHidden {
  overflow: hidden;
}

.fadeIn {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
          animation: fadeOut 1s forwards;
}

.titleBox {
  text-align: center;
}

.titleBox p {
  margin-top: 2rem;
}

#backdrop {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252b46;
  opacity: 0.95;
  z-index: 5;
}

body {
  position: relative;
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */