#features {
  .bgHelper {
    @include sectionPadding;
    padding-bottom: 8rem;

    @media screen and(min-width:50rem) {
      padding-bottom: 4rem;

      .titleBox {
        width: 25rem;
        margin: 0 auto;
        border-left: 2rem;
        border-bottom: 2rem;
      }
    }

    @media screen and (min-width: 70rem) {
      width: 70rem;
      margin: 0 auto;
    }
  }

  #tabMenu {
    margin-top: 3rem;
    text-align: center;

    @media screen and(min-width:50rem) {
      display: flex;
      max-width: 41.875rem;
      margin: 0 auto;
    }

    h3 {
      position: relative;
      padding: 1rem;
      border-top: 1px solid lightgray;
      font-weight: 400;

      &:last-of-type {
        border-bottom: 1px solid lightgray;
      }

      @media screen and (min-width: 30rem) {
        width: 26rem;
        margin: 0 auto;
        border-top: none;
        border-bottom: 1px solid lightgray;
      }

      @media screen and (min-width: 50rem) {
        width: 14rem;
        margin-top: 2rem;
        border-top: none;
        border-bottom: 1px solid lightgray;
        font-size: 0.9rem;
      }

      @media screen and (min-width: 50rem) {
        font-size: 1rem;
      }

      &.active {
        &::after {
          position: absolute;
          content: "";
          background-color: $softRed;
          height: 0.2rem;
          left: 5rem;
          right: 5rem;
          bottom: 0;

          @media screen and (min-width: 30rem) {
            left: 9rem;
            right: 9rem;
          }

          @media screen and (min-width: 50rem) {
            left: 0;
            right: 0;
          }
        }
      }

      &:hover,
      &:focus {
        cursor: pointer;
        font-weight: 500;
      }
    }
  }

  #tabContent {
    position: relative;
    max-width: 30rem;
    margin: 4rem auto;
    transition: all 0.2s ease-in-out;

    @media screen and (min-width: 50rem) {
      max-width: unset;
      margin: 0 auto;
      height: 416px;
    }
  }

  .tab {
    flex-direction: column;

    @media screen and (min-width: 50rem) {
      height: 100%;
      flex-direction: row;
      align-items: center;
    }
  }

  .image {
    @include bgBlueBarsBottom;
    position: relative;
  }

  img {
    width: 100%;
  }

  .textBlock {
    margin-top: 3rem;
    text-align: center;

    @media screen and (min-width: 50rem) {
      width: 85%;
      margin-top: 0;
      padding-left: 5em;
      text-align: left;
    }

    p {
      margin-top: 1rem;
    }
  }

  button {
    @include btnStyle($softBlue, white);
    display: initial;
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
