#faq {
  .bgHelper {
    @include sectionPadding;
    padding-bottom: 8rem;
    text-align: center;

    @media screen and(min-width:50rem) {
      width: 800px;
      margin: 0 auto;
      padding-bottom: 4rem;
    }
  }

  #faqBlock {
    margin-top: 3rem;
  }

  .questionItem {
    position: relative;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgray;

    p {
      display: none;
      max-height: 0px;
      text-align: left;
      overflow: hidden;
      transition: all 0.2s ease-out;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }

    &.open {
      svg {
        transform: rotate(180deg);

        path {
          stroke: red;
        }
      }
    }

    h3 {
      font-size: 0.9rem;
      font-weight: 400;
    }

    svg {
      transition: all 0.2s ease-in-out;
    }

    .questionHeadline {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      align-items: center;
    }
  }

  button {
    @include btnStyle($softBlue, white);
    margin-top: 3rem;
  }
}
