#faq {
  .bgHelper {
    @include sectionPadding;
    text-align: center;
    padding-bottom: 8rem;
  }

  #faqBlock {
    margin-top: 3rem;

    .questionItem {
      position: relative;
      padding: 0.5rem 0;
      border-bottom: 1px solid lightgray;

      h3 {
        font-size: 0.9rem;
        font-weight: 400;
      }

      p {
        display: none;
        overflow: hidden;
        max-height: 0px;
        transition:all 0.2s ease-out;
        text-align: left;
      }

      svg{
        transition: all 0.2s ease-in-out;

      }

      .questionHeadline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        
      }
      
      &:hover,
      &:focus {
        cursor: pointer;
      }
      
      &.open {       
        svg {
          transform: rotate(180deg);

          path {
            stroke: red;
          }
        }
      }
    }
  }

  button{
    @include btnStyle($softBlue, white);
    margin-top: 3rem;
  }
}
