footer {
  background-color: $veryDarkBlue;
  text-align: center;

  .bgHelper {
    @include sectionPadding;

    @media screen and(min-width:60rem) {
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "logo nav . . social";
      gap: 3rem;
    }
  }

  .logo {
    grid-area: logo;
    svg path {
      fill: white;
    }

    @media screen and(min-width:60rem) {
      justify-self: start;
    }
  }

  nav {
    grid-area: nav;
    padding: 1rem;

    @media screen and(min-width:60rem) {
      padding: 0;
    }
  }

  ul {
    @media screen and(min-width:60rem) {
      display: flex;
      gap: 3rem;
    }
  }

  li {
    padding: 1rem;

    @media screen and(min-width:60rem) {
      padding: 0;
    }

    a {
      @include navHoverEffects;
      display: inline-block;
      width: 100%;
      height: 100%;
      color: white;

      @media screen and(min-width:60rem) {
        font-size: 0.9rem;
      }
    }
  }

  .socialMedia {
    grid-area: social;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin: 0 auto;

    @media screen and (min-width: 60rem) {
      margin: 0;
      justify-self: end;
    }

    .logo {
      transition: all 0.2s ease-in-out;

      svg path {
        transition: all 0.2s ease-in-out;
      }
      
      &:hover,
      &:focus {
        transform: scale(1.2);
      }

      &:active {
        svg path {
          fill: $softRed;
        }
      }
    }

    &.mobileMenu {
      position: fixed;
      bottom: 2rem;
      z-index: 15;
      left: 0;
      right: 0;
    }
  }
}
