@mixin sectionPadding {
  padding: 2rem 2rem;
}

@mixin navHoverEffects{
    transition: all 0.3s ease-in-out;
    &:hover, &:focus{
        transform: scale(1.2);
    }
    &:active{
        
            color: red;
        
    }
}

@mixin btnStyle($bgColor, $fontColor) {
  border-radius: 4px;
  border: none;
  padding: 1rem 1rem;
  background-color: $bgColor;
  color: $fontColor;
  box-shadow: 0 0 8px 2px $bgColor;

  &:hover,
  &:focus {
    outline: 1px solid green;

  }
  &:active {
    background-color: greenyellow;
  }
}

