@mixin sectionPadding {
  padding: 2rem 2rem;

  @media screen and (min-width: 30rem) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media screen and (min-width: 40rem) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media screen and (min-width: 50rem) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media screen and (min-width: 60rem) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  // @media screen and (min-width: 75rem) {
  //   padding-left: 7rem;
  //   padding-right: 7rem;
  // }
  @media screen and (min-width: 80rem) {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    width: 70rem;
  }
}

@mixin navHoverEffects {
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  &:active {
    color: $softRed;
  }
}

@mixin btnStyle($bgColor, $fontColor) {
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: $bgColor;
  color: $fontColor;
  box-shadow: 0 0 8px 2px $bgColor;
  transition: 0.2s ease-in-out;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: white;
    box-shadow: none;
    outline: 2px solid $bgColor;
    color: $bgColor;
  }
  &:active {
    background-color: $bgColor;
    color: $fontColor;
  }
}

@mixin bgBlueBarsTop() {
  &::before {
    position: absolute;
    content: "";
    width: 80rem;
    height: 75%;
    bottom: 1rem;
    left: 20%;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background-color: $softBlue;
    z-index: -1;
  }
}

@mixin bgBlueBarsBottom() {
  &::before {
    position: absolute;
    content: "";
    width: 80rem;
    height: 75%;
    bottom: -2rem;
    right: 20%;
    border-top-right-radius: 6rem;
    border-bottom-right-radius: 6rem;
    background-color: $softBlue;
    z-index: -1;
  }
}
