@mixin sectionPadding {
  padding: 2rem 2rem;
}

@mixin navHoverEffects{
    transition: all 0.2s ease-in-out;
    &:hover, &:focus{
        transform: scale(1.2);
    }
    &:active{
        
            color: $softRed;
        
    }
}

@mixin btnStyle($bgColor, $fontColor) {
  border-radius: 4px;
  border: none;
  padding: 1rem 1rem;
  background-color: $bgColor;
  color: $fontColor;
  box-shadow: 0 0 8px 2px $bgColor;
  transition: 0.2s ease-in-out;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: lighten($bgColor, 10); 
    box-shadow: 0 0 8px 2px lighten($bgColor, 10);

  }
  &:active {
    background-color: $bgColor;
    box-shadow: 0 0 8px 6px $bgColor;
  }
}

